:root {
    --main-color: #434455;
    --backgroud-body-color: #ffffff; 
    --main-title-color: #FFFFFF; 
    --second-title-color: #2E2F42; 
    --accent-color: #404BBF; 
    --accent-color-btn: #FFFFFF; 
    --btn-color: #ffffff; 
    --btn-background-color: #4D5AE5; 
    --btn-accent-color: #404BBF;
    --btn-filters-color: #4D5AE5;
    --btn-bgd-color: #F4F4FD;
    --footer-text-color: #E7E9FC; 
    --top-text-color: #2E2F42; 
    --bottom-text-color: #434455;
    --background-color: #2E2F42; 
    --background-second-color: #F4F4FD;
    --background-white-color: #ffffff; 
    --iris-color: #4D5AE5; 
    --navyblue-color: #2E2F42; 
    --cloud-color: #F4F4FD; 

    } 


body {
    font-family: "Roboto", sans-serif;
    color: var(--main-color);
    background-color: var(--backgroud-body-color)
}

.link { 
    text-decoration: none;
}

.list { 
    list-style: none;
}

.logo { 
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
}

.logo-span {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navyblue-color);
}

.header-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-address {
    font-style: normal;
}

.header-address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bottom-text-color);
}

.header-address-link:hover,
.header-address-link:focus {
    color: var(--accent-color);
}

.hero { 
    background-color: var(--background-color);
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--btn-color);
    background-color: var(--btn-background-color);
}

.hero-btn:hover, 
.hero-btn:focus {
    background-color: var(--accent-color);
}


.preference-top-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--top-text-color);
}

.preference-bottom-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bottom-text-color);
}


.offer-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-title-color);
}

.team {
    background-color: var(--background-second-color);
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-title-color);
}
.team-item {
    background-color: var(--background-white-color);
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--top-text-color);
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bottom-text-color);
}

.footer { 
    background-color: var(--background-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);

}

.footer-logo-span {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud-color);

}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
}

.filters-button {
    font-family: "Roboto"; sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--btn-filters-color);
    background-color:var(--btn-bgd-color);
}

.filters-button:hover,
.filters-button:focus { 
    color: var(--accent-color-btn);
    background-color: #404BBF;
}

.row-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
     color: var(--top-text-color);
}

.row-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bottom-text-color);
}

